body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;

    width: 100vw;
    max-width:100%;  /* added */
}
  
section {
    height: 100vh;
    box-sizing: border-box;

}

.placeholder {
    height: 10vh;
}
.bottom-image {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
}

.section-home {
    background-image: linear-gradient(#eb01a5, #d13531);
    background-position: left;
    background-repeat: no-repeat;
}
.container-home {
    height: 60%;
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    
    box-sizing: border-box;
}
.container-home h1 {
    font-size: 10em;
    font-weight: bold;
    margin-left: 3%;
    color: white;
}
.container-home h2 {
    font-size: 4em;
    margin-left: 3%;
    color: white;
}
.container-home h2 span{
    font-size: 1em;
    color: #FBFF35
}
.container-home h3 {
    font-size: 2em;
    margin-left: 3%;
    color: white;
}



.section-projects {
    background-image: url(./static/img/gotham1.png), linear-gradient(orange, yellow);;
    background-position: left;
    background-repeat: no-repeat;
}
.container-projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projects-header {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: #9b59b6;
}
.projects-header-h2 {
    font-size: 2em;
    width: 20%;
    margin: 0 0 0 0%;
    line-height: 0;
    text-align: center;
    margin: auto;

}
.projects-header-p {
    font-size: 2em;
    width: 80%;
    margin: auto;
    line-height: 0;
    text-align: right;

}
.projects-body {
    height: 90%;
}

.container-carousel {
    display: flex;
    justify-content: space-evenly;

}
.test {
    width: 100%;
    height: 100%;
    background-color: green;
}
.carousel {
    height: 100%;
    width: 100%;
}
.row {
    height: 100%;
    justify-content: center;
}
.col-sm {
    height: 100%;
}
.card {
    margin: auto;
    text-align: center;
}
.card-img-top {
    height: 250px;
    width: 220px;
    margin: 2% auto 0 auto;
}

/* 33333333 */
.section-about {
    background-image: linear-gradient(purple, blue);
    background-position: left;
    background-repeat: no-repeat;
}
.container-about {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    
    border: solid 10px;
    box-sizing: border-box;
}
.container-about-header {
    width: 80%;
    height: 60%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;

}
.header-quote {
    height: 60%;
    display: flex;
    text-align: center;
}
.header-quoteowner {
    height: 40%;
    display: flex;
}
.container-about-header h1 {
    font-size: 3em;
    margin: auto;
    line-height: 1.3em;
    color: white;
}
.container-about-header h2 {
    text-align: right;
    margin: auto 5%;
    font-size: 3em;
    color: rgb(92, 84, 84);
}





strong { font-weight: 600; }
 
a, a:hover, a:focus {
    color: #9b59b6;
    text-decoration: none;
    transition: all .3s;
}
 
.navbar {
    background: #444;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
    
    height: 10vh;
}
 
.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.2);
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 
.navbar-brand {
    width: 136px;
    color: white;
    background: url(./static/img/gothammark.png) left center no-repeat;
    border: 0;


}

