body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;

    width: 100vw;
    max-width:100%;  /* added */
}

section {
    max-height: 100%;
    height: 100vh;
    box-sizing: border-box;

    background-image: linear-gradient(#302b2e, #3184d1);
    background-position: left;
    background-repeat: no-repeat;
    
}

.placeholder {
    height: 10vh;
}
.bottom-image {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
}

.container-content {
    height: 90vh;
    width: 100%;
    display: flex;
}
.container-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    position: absolute;
    
    margin-top: 0%;
    border: solid pink 10px;;
    
}
.container-home h1 {
    font-size: 10em;
    font-weight: bold;
    margin: 0 0 0 3%;
    color: white;
}
.container-home h2 {
    font-size: 4em;
    margin: 0 0 0 3%;
    color: white;
    display: inline;
    width: fit-content;
}
.container-home h3 {
    font-size: 2em;
    margin: 2% 0 0 3%;
    color: white;
}
.container-home-header {
    height: 60%; 
    display: flex; 
    flex-direction: column; 
    margin: auto 0;
    justify-content: center;
}

.section-projects {
    background-image: linear-gradient(#eb01a5, #d13531);
    background-position: left;
    background-repeat: no-repeat;
}
.container-projects {
    height: 90%;
    width: 100%;
    
    flex-direction: column;

    border: solid 10px orange;
    position: absolute;

    visibility: hidden;

}

.projects-header {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: grey;
}
.projects-header-h2 {
    font-size: 3em;
    width: 20%;
    margin: 0 0 0 0%;
    line-height: 0;
    text-align: center;
    margin: auto;
    color: white;

}
.projects-header-p {
    font-size: 2em;
    width: 80%;
    margin: auto 2% auto 0;
    line-height: 0;
    text-align: right;

}
.projects-header-icons {
    width: 80%;
    margin-right: 2%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.projects-header-icons img {
    margin-right: 3%;
}
.projects-body {
    height: 90%;
}

.container-outer-carousel {
    width: 100%;
    height: 80%;
    margin: 0 auto;
}
.container-carousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.carousel {
    height: 100%;
    width: 100%;
}
.row {
    height: 100%;
    justify-content: center;
}
.col-sm {
    height: 100%;
}
.card {
    margin: auto;
    text-align: center;
}
.card-img-top {
    height: 250px;
    width: 220px;
    margin: 2% auto 0 auto;
}
.carousel-inner {
    width: 75%;
    height: auto;
    border: solid orangered 10px;
}
.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);

}


/* 33333333 */

.container-about {
    height: 90%;
    width: 100%;
    position: absolute;
    
    border: solid 10px green;
    visibility: hidden;
}

.container-about-header {
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.container-about-bottom {
    width: 100%;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.header-quote {
    height: 70%;
    width: 100%;
    text-align: center;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.header-quoteowner {
    height: 30%;
    width: 100%;
    text-align: center;
    display: flex;    
    justify-content: center;
    align-items: center;

}
.container-about-bottom h1 {
    font-size: 2em;
    margin: auto;
    line-height: 1.3em;
    color: white;
}
.container-about-bottom h2 {
    font-size: 2em;
    color: rgb(58, 50, 50);
}





strong { font-weight: 600; }
 
a, a:hover, a:focus {
    color: #9b59b6;
    text-decoration: none;
    transition: all .3s;
}
 
.navbar {
    background: #444;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
    
    height: 10vh;
}
 
.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.2);
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-nav > .active > a {
    background-color: #3184d1;
 }


.navbar-brand {
    width: 136px;
    color: white;
    background: url(./static/img/gothammark.png) left center no-repeat;
    border: 0;


}

